@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.containerCharts {
    display: flex;
    flex-direction: row;
}

.containerSession {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 4%;
}

.charts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}