.containerScore {
    width: 258px;
    height: 263px;
    background-color: #fbfbfb;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

.titleScore {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #20253a;
    width: max-content;
    margin: 24px 20px 5px;
}

.chart {
    width: 258px;
    height: 256px;
    position: relative;
    z-index: 4;
}

.score {
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    color: #282d30;
}

.scoreValue {
    width: 50%;
    height: 50%;
}

.objectif {
    width: 171px;
    height: 171px;
    margin-top: 11px;
    margin-left: 43px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    color: #282d30d1;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}